body { 
    padding-top: 20px;
    background-color: #fff3de; 
    background-image: url('../images/paper.png');
    background-size: 100px;
    font-family: 'Raleway', sans-serif;
    color: #1b2e80;
}

#headline {
  font-size:40px;
  color:#da3b21;
  line-height:40px;
  margin:10px 0 25px;
}

.navbar-default {
  background-color:rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}

.menuItem {
  font-size: 1.4em;
  color: #da3b21;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.menuItem::first-letter {
  font-family: 'Rye', cursive;
  font-size: 3.5rem;
}

.navbar {
  min-height: 110px;
}

.navbar-brand {
  padding-top: 10px;
}

.itemPrice {
	float: right;
  font-size: 1.2em;
  line-height: 36px;
}

iframe {
  margin: 20px 0;
  border-radius: 15px;
  border: 2px solid #da3b21;
  width: 50%;
}

footer {
  margin: 30px 0 0 0;
  padding: 20px;
  text-align: center;
  color: #888;
}

#aboutUs {
  margin-top: 40px;
  font-size: 0.75rem;
}

h1 {
  text-transform: uppercase;
  color: #1b2e80;
  font-family: 'Rye', cursive;
  font-size: 4.5rem;
}

h2 {
  color: #1b2e80;
}

.well {
  background-color: #FFF;
  border: 2px solid #da3b21;
  border-radius: 10px;
}

hr {
  border-color: #da3b21;
  border-width: 2px;
}

.container .jumbotron {
  background-color: #FFF;
  border-radius: 15px;
}

a {
  color: #1b2e80;
}

a:hover{
  background-color: #f2cc52;
  text-decoration: none;
}

#facebook, a:focus, a:hover {
  color: #1b2e80;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #f2cc52;
  border-radius: 10px;
}

.well img {
  margin: 0 20px;
  width: 35px;
}

@media (max-width: 640px) {
    body {
      padding-top: 0px;
    } 
    
    #logo {
      height: 110px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: rgba(255, 255, 255, 0);
      padding-top: 65px;
    }

    .navbar {
      min-height: 100px;
      margin-bottom: 40px;
    }

    .navbar-default .navbar-collapse .navbar-nav>li>a:hover {
      background-color: #f2cc52;
      border-radius: 0px;
    }

    h1 {
      margin-top: -15px;
    }

    .well {
      border-color: #da3b21;
      border-width: 2px 0 2px 0;
      border-radius: 0px;
    }

    .well img {
      margin: 0 10px;
    }

    #quail, #flower {
      display: none;
    }

    iframe {
      width: 100%;
      border-radius: 0px;
      border-width: 2px 0 2px 0;
    }

    .jumbotron p {
      font-size: 16px;
    }

    .container .jumbotron {
      border-radius: 0px;
    }

}

@media (max-width: 425px) {
  .container .jumbotron {
    border-radius: 0px;
  }
}

@media (max-width: 375px) {
  
  #logo {
      width: 199px;
    }

  h2 {
    font-size: 1.5em;
  }

  h2 img {
    width: 5px;
  }

  iframe {
    width: 100%;
    border-radius: 0px;
    border-width: 2px 0 2px 0;
  }
  
}